Pygments
appnope
asttokens
backcall
black
certifi
charset-normalizer
click
decorator
executing
idna
ipython
jedi
matplotlib-inline
mypy
mypy-extensions
numpy
parso
pathspec
pexpect
pickleshare
platformdirs
prompt-toolkit
ptyprocess
pure-eval
pydantic
python-dateutil
pytz
requests
six
stack-data
tomli
torch
tqdm
traitlets
types-python-dateutil
types-pytz
types-requests
types-urllib3
typing_extensions
urllib3
wcwidth
